/* Reset some default styles */
body, h1, h2, p, ul, li, a
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
	min-height: 100vh; /* 100% de la hauteur de la vue */
	height: 100%;
}

header
{
	background: linear-gradient(to right, #ff7575, #ffff75, #5075ff, #a075ff);
	color: #ea70ab;
	padding: 15px;
	text-align: center;
}

h1
{
	font-size: 45px;
}

nav
{
	background-color: #959595;
}

ul
{
	list-style-type: none;
	justify-content: space-around;
	margin: 0px;
	padding: 5px;
	display: flex;
}

li
{
	margin: 0px;
}

li:hover
{
	background: #a075ff;
}

a
{
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

footer
{
	background-color: #333;
	color: #ea70ab;
	text-align: center;
	padding: 20px 0;
	margin-top: auto;
}

main
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

.image-container
{
	position: relative;
}

.rotating-frame
{
	position: relative;
	width: 300px;
	height: 300px;
	left: 0px;
	border: 5px solid #3498db;
	border-radius: 50%;
	animation: mymove 5s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
@keyframes mymove {
	0%   {left:-200px; top:-500px;}
	25%  {left:200px; top:-500px;}
	50%  {left:200px; top:200px;}
	75%  {left:-200px; top:200px;}
	100% {left:-200px; top:-500px;}
  }

img
{
	width: 100%;
	height: 100%;
}

.cat
{
	border-radius: 50%;
}

@keyframes rotateFrame
{
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(360deg);
	}
}

.image-gallery
{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.image
{
	text-align: center;
	flex: 0 0 30%;
	border: 1px solid #820707;
}

.caption
{
	margin-top: 10px;
	font-size: 14px;
	color: #333;
}

.container
{
	position: relative;
	width: 300px;
	margin: 50px auto;
}

.text
{
	text-align: center;
	font-size: 15px;
}

.fade
{
	opacity: 1;
	animation: fadeAnimation 4s infinite alternate;
}

@keyframes fadeAnimation
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}

form
{
	/* display: flex; */
	flex-direction: column;
}

input, button
{
	margin-top: 10px;
	margin-right: 20px
}

section
{
	margin-bottom: 30px;
	border: 3px solid #ccc;
	padding: 20px;
}
